<!-- <p>A data de hoje é: {{ today | date }}</p><br />
<p>A data de hoje é: {{ today | date:'medium' }}</p>
<p>A data de hoje é: {{ today | date:'shortTime' }}</p>
<p>A data de hoje é: {{ today | date:'dd/MM/yyyy hh:mm:ss' }}</p>

<br />

<p>{{ lowercaseString | uppercase }}</p>
<p>{{ uppercaseString | lowercase }}</p>
<p>{{ titlecaseString | titlecase }}</p>

<br />

<p>{{ moneyValue | currency }}</p>
<p>{{ moneyValue | currency:'BRL' }}</p>
<p>{{ moneyValue | currency:'CAD' }}</p>

<br />

<p>{{ stream | async }}</p>

<button (click)="onAdd()">adicionar</button> -->

<br />
<br />

<p>Aplicando nosso pipe: {{ myPipeString | myPipe:'param1':'param2' }}</p>